@import "../../styles/theme.scss";

$size: 86px;
.button {
  width: clamp(54px, 5vw, $size);
  height: clamp(54px, 5vw, $size);
  border-radius: 50%;
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.button.primary {
  background-color: $secondary;
  color: $light;
}

.button.secondary {
  background-color: $light;
  color: $primary-red;
}
