.container {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32vw;

  .timerSeconds {
    transition: transform 0.3s ease-out;

    &.timerState__Started {
      transform: translateY(0);
    }
    &.timerState__PausedNotStarted {
      transform: translateY(-40px);
    }
  }

  .button {
    position: fixed;
    bottom: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease-out;

    &.timerState__Started {
      transform: scale(0) rotateZ(180deg);
    }
    &.timerState__PausedNotStarted {
      transform: scale(1) rotateZ(0);
    }
  }

  div.containerActions {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #4443;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13vw;
      opacity: 0;
      &:nth-child(1) {
        background: red;
      }
      &:nth-child(2) {
        background: #111;
      }
      &:nth-child(3) {
        background: #423;
      }
      &:nth-child(4) {
        background: #582;
      }
    }
  }
}
